@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400,700);

body {
    background:#212121;
    font-family:"Open sans", sans-serif;
    font-size:14px;
    a {
        opacity: 1;
        transition:opacity ease 0.2s;
        &:hover {
            opacity:0.7;
        }
    }
    header {
        position:fixed;
        z-index: 100;
        width:100%;
        left:0;
        right:0;
        padding:30px 50px 0;
        box-sizing: border-box;
        line-height:30px;
        section {
            float:left;
            text-transform: uppercase;
            display:inline-block;
            a {
                font-size:1.2rem;
                text-decoration: none;
                color:#fff;
                letter-spacing: 1px;
                font-weight:bold;
            }
        }
        nav.navigation {
            float:right;
            display:inline-block;
            ul {
                li {
                    display:inline-block;
                    margin-left:20px;
                    &:first-of-type {
                        margin-left:0;
                    }
                    a {
                        text-decoration: none;
                        color:#fff;
                        text-transform: uppercase;
                        font-size:0.9rem;
                        letter-spacing: 0.4px;
                    }
                }
            }
        }
    }
    #home {
        .wrapper {
            z-index: 1;
            text-align: center;
            position: relative;
            overflow: hidden;
            height: 100vh;
            width: 100%;
            left: 0;
            top: 0;
            .scene {
                position:relative;
                display: block;
                height: 100%;
                width: 100%;
                padding: 0;
                margin: 0;
                .layer {
                    display: block;
                    height: 100%;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    .background {
                        background: url(../img/background.jpg) no-repeat 50% 100%;
                        background-size: cover;
                        position: absolute;
                        width: 110%;
                        left: -5%;
                        top: -5%;
                        bottom: -20px;
                    }
                    .noise {
                        background: url(../img/noise.png) repeat 50% 100%;
                        position: absolute;
                        width: 110%;
                        left: -5%;
                        top: -5%;
                        bottom: -20px;
                        opacity: 0.75;
                    }
                    &.content {
                        section {
                            position: absolute;
                            left:0;
                            right:0;
                            top:50%;
                            transform: translateY(-50%);
                            padding:30px;
                            border:6px solid #fff;
                            max-width:400px;
                            margin:auto;
                            color:#fff;
                            box-sizing: border-box;
                            h1 {
                                font-size:1.5rem;
                                font-weight:bold;
                                line-height:1.5;
                                margin-bottom: 14px;
                            }
                            h2 {
                                font-size: 1.3rem;
                                text-transform: uppercase;
                                line-height:1.5;
                                margin-bottom: 14px;
                            }
                            div {
                                a {
                                    color:#fff;
                                    font-size:1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
